<div class="ui-alert">
    <meta charset="utf-8">
	<!-- no arquivo uiAlertDirective, o nome da diretiva é uiAlert, mas na chamada usa com o nome "ui-alert", assim como o ngRepeat do próprio angular, na chamada é ng-repeat -->
	<div class="ui-alert-title">
        {{topic}}
    </div>
    <!-- ng-transclude indica onde o texto do transclude irá aparecer no template -->
    <div class="ui-alert-message" ng-transclude >
        
    </div>
    <div class="ui-alert-message" >
        {{error}}
    </div>
</div>